name: regex-test
on:
  push
jobs:
  regex-test:
    env:
      PKG_VERSION: v12.34.56
    runs-on: ubuntu-latest
    steps:
      - name: Set package versions
        id: pkg_versions
        run: |
          MAJOR_VERSION=$(echo "v0.0.1" | grep --perl-regexp 'v\d+\.\d+' -o)
          echo "::set-output name=MAJOR_VERSION::$MAJOR_VERSION"
        # echo "v0.0.1" | grep --perl-regexp 'v\d+\.\d+' -o
      - name: Get package versions
        run: "echo 'MAJOR VERSION: ${{ steps.pkg_versions.outputs.MAJOR_VERSION }}'"