name: regex-test
on:
  push
jobs:
  regex-test:
    runs-on: ubuntu-latest
    steps:
      - name: Set package versions
        id: pkg_versions
        env:
          PKG_VERSION: v12.34.56
        run: |
          MAJOR_VERSION=$(echo ${{ env.PKG_VERSION }} | grep --perl-regexp 'v\d+' -o);
          MINOR_VERSION=$(echo ${{ env.PKG_VERSION }} | grep --perl-regexp 'v\d+\.\d+' -o);
          PATCH_VERSION=$(echo ${{ env.PKG_VERSION }} | grep --perl-regexp 'v\d+\.\d+\.\d+' -o);
          echo "::set-output name=MAJOR_VERSION::$MAJOR_VERSION";
          echo "::set-output name=MINOR_VERSION::$MINOR_VERSION";
          echo "::set-output name=PATCH_VERSION::$PATCH_VERSION";
      - name: Get package versions
        run: |
          echo 'MAJOR VERSION: ${{ steps.pkg_versions.outputs.MAJOR_VERSION }}';
          echo 'MINOR VERSION: ${{ steps.pkg_versions.outputs.MINOR_VERSION }}';
          echo 'PATCH VERSION: ${{ steps.pkg_versions.outputs.PATCH_VERSION }}';
          echo 'test body' > test.txt;
      - name: Upload to S3
        uses: ItsKarma/aws-cli@v1.70.0
        with:
          args: |
            s3 cp text.txt s3://clappy-button-web-component/v${{ steps.pkg_versions.outputs.MAJOR_VERSION }}.txt
            s3 cp test.txt s3://clappy-button-web-component/v${{ steps.pkg_versions.outputs.MINOR_VERSION }}.txt
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_IAM_ADMIN_ACCESS_KEY_ID}}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_IAM_ADMIN_ACCESS_KEY }}
          AWS_DEFAULT_REGION: us-east-1
